
<body>
  <div class="card text-dark">
    <img class="card-img" src="./image1.png" alt="Card image">
    <div class="card-img-overlay">
      <div class="jumbotron jumbotron-fluid bg-light shadow p-3 mb-5 bg-white rounded" style="margin-top: 40%;">
        <div class="container">
          <h1 class="display-3 text-info mt-3">Pet Friend Finder</h1>
          <p class="lead">Answer a few basic questions as your pet.<br>
                          Then find the friend you're pet is most compatible with.</p>
          <a href="/survey">
            <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
          </a>
        </div>
      </div>
      <div class='col s4'>
          <p>
              <a href='./api/friends' class="text-info">API Friends List</a> |
              <a href='https://github.com/thomson3914/Pet-Friend-Finder' class="text-info" target='_blank'>GitHub Repo</a>
          </p>
      </div>
    </div>
  </div>


</body>
