
</style>
    <div class="container"id="ahmed">
        <div class="jumbotron jumbotron-fluid bg-transparent shadow p-3 mb-5 bg-rounded" style="margin-top: 2%;">
            <h1 class="display-3 text-info mt-3">Add to your family</h1>
            <p class="lead">Are you looking to add a new furry friend to your home?
                        <br>Answer a few basic questions about your lifestyle to see who will bring you the most joy!
            </p>
                <a href="/survey/">
            <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
            </a>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container"id="ahmed">
        <div class="jumbotron jumbotron-fluid bg-transparent shadow p-3 mb-5 bg-rounded" style="margin-top: 2%;">
            <h1 class="display-3 text-info mt-3">Playtime</h1>
            <p class="lead">Does your furry companion love playing with other animals?
                <br>Answer a few basic questions about your pet and we will connect you with a great playdate match!
            </p>
                <a href="/playdate/">
            <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
            </a>
        </div>
    </div>
    <div class='col s4'style="margin-top: 30%;">
            <div class="container">

        <p>
            <a href='https://github.com/ahmedharazi/Pick-A-Pal' class="text-info" target='_blank'>GitHub Repo</a>
        </p>
    </div>
    </div>

<body class="ahmed">
<style>
.ahmed{
  background-image: url("https://www.petmd.com/sites/default/files/small-dog-breeds.jpg");
  background-size: cover;
  text-align: center;
}

</style>
</body>



