
<body>
    <div class="container"id="ahmed">
        <div class="jumbotron jumbotron-fluid bg-light shadow p-3 mb-5 bg-white rounded" style="margin-top: 2%;">
            <h1 class="display-3 text-info mt-3">Pick A-Pal</h1>
            <p class="lead">Answer a few basic questions as your pet.
                <br> Then find the friend you're pet is most compatible with.</p>
            <a href="/survey">
                <button type="button" class="btn btn-primary bg-info">Go to Survey</button>
            </a>
        </div>
    </div>
    <div class='col s4'style="margin-top: 30%;">
            <div class="container">

        <p>
            <a href='https://github.com/ahmedharazi/Pick-A-Pal' class="text-info" target='_blank'>GitHub Repo</a>
        </p>
    </div>
    </div>

</body>