<body class="playdate">
<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	 crossorigin="anonymous"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">

	<!-- JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>



	<style>
.playdate{
  background-image: url("https://www.petmd.com/sites/default/files/small-dog-breeds.jpg");
  background-size: cover;
  text-align: center;
}
 #surveyQuestions{
  text-align: center;

 }

  .header {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 46px;
    font-weight: bolder;
    color: black;
  }

  .intro {
    font-size: 18px;
  }


  #survey {
    border: 4px solid #e9e8d7;
    padding: 20px;
  }

  #link {
    text-align: right;
  }

  a {
    color: #424547;
  }

  .modal-body {
  
    text-align: center;
    font-size: 46px;
    font-weight: bold;
  }
  
	</style>

</head>

<body>

	<div class="container">

		<h2 class="text-center">Survey Questions</h2>
		<hr>

		<h3><strong>About You</strong></h3>
		<h4>Human Name (Required)</h4>
		<input type="text" name="" id="humanname" class="form-control" required>
        <h4>Dog Name (Required)</h4>
		<input type="text" name="" id="dogname" class="form-control" required>
		<h4>Link to Photo Image (Required)</h4>
		<input type="text" name="" id="image" class="form-control" required>
		<h4>Your zip code (Required)</h4>
		<input type="text" name="" id="zipcode" class="form-control" required>

		<hr>

		<h3><strong>Question 1</strong></h3>
		<h4>How much shedding would you tolerate?</h4>
		<select data-placeholder="" class="chosen-select" id="q0">
                                    <option value="5">Heavy</option>
                                    <option value="10">Moderate</option>
                                    <option value="15">Light</option>
                                    <option value="20">None</option>
		</select>

		<h3><strong>Question 2</strong></h3>
		<h4>How big or small will your dog be?</h4>
		<select data-placeholder="" class="chosen-select" id="q1">
		                            <option value="5">Under 10lbs</option>
                                    <option value="10">From 10 to 20lbs</option>
                                    <option value="15">From 20 to 40lbs</option>
                                    <option value="20">From 40 to 80lbs</option>
		</select>

        <h3><strong>Question 3</strong></h3>
		<h4>How would you describe your home?</h4>
		<select data-placeholder="" class="chosen-select" id="q2">
		                            <option value="5">A Home With No Outdoor Space</option>
                                    <option value="10">A Home With a Small Yard or Nearby Park</option>
                                    <option value="15">A Home With A Fenced-In Yard</option>
                                    <option value="20">A Home With Abundant Outdoor Space</option>
		</select>

		<h3><strong>Question 4</strong></h3>
		<h4>Will there be other pets in the home?</h4>
		<select data-placeholder="" class="chosen-select" id="q3">
                                    <option value="5">No other pets.</option>
                                    <option value="10">Other dogs.</option>
                                    <option value="15">Cats.</option>
                                    <option value="20">Other small animals.</option>
		</select>

		<h3><strong>Question 5</strong></h3>
		<h4>When it comes to training your dog, what do you prefer?</h4>
		<select data-placeholder="" class="chosen-select" id="q4">
		                            <option value="5">Needs Little Training and Learns Easily</option>
                                    <option value="10">Requires Some Training</option>
                                    <option value="15">Will Thrive With Substantial Training</option>
                                    <option value="20">No training needed</option>
		</select>

		<h3><strong>Question 6</strong></h3>
		<h4>How vocal would your ideal dog be?</h4>
		<select data-placeholder="" class="chosen-select" id="q5">
			                        <option value="5">Barks On Occassion</option>
                                    <option value="10">Relatively Quiet</option>
                                    <option value="15">Will Alert me of Unwanted Strangers</option>
                                    <option value="20">Has a Powerful Bark</option>
		</select>

        <h3><strong>Question 7</strong></h3>
		<h4>What is your budget like?</h4>
		<select data-placeholder="" class="chosen-select" id="q6">
			                        <option value="5">0-$100</option>
                                    <option value="10">$100-$600</option>
                                    <option value="15">$600-$1200</option>
                                    <option value="20">$1200-$3600</option>
		</select>
        <br>
        <br>
        <br>

		<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"> Submit</button>

		<hr>

		<footer class="footer">
			<div class="container">
				<p>
					 Copyright © 2018
				</p>
			</div>
		</footer>
	</div>

	<!-- Modal -->
	<div id="resultsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"><strong>Best Match</strong></h2>
				</div>
				<div class="modal-body">
					<h2 id=""></h2>

					<img class="img-responsive" id="matchImg" src="dog" alt="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="playdate">Schedule a playdate!</button>
				</div>
			</div>

		</div>
	</div>


	

	<script type="text/javascript">

	var resultDog;

	var dog1= {
		name : "huski",
		
	}

		// capture form inputs
		$("#submit").on("click", function () {


		
			// Form Validation
			function validateForm() {
				var isValid = true;
				$(".form-control").each(function () {
					if ($(this).val() === "") {
						isValid = false;
					}
				});
				$(".chosen-select").each(function () {
					if ($(this).val() === "") {
						isValid = false;
					}
				});
				return isValid;
			}
			// if all required fields are filled
			if (validateForm()) {
				// create an object for the users data
				var userData = {
					humanname: $("#humanname").val().trim(),
                    dogname: $("#dogname").val().trim(),
					image: $("#image").val().trim(),
					zipcode: $("#zipcode").val().trim(),
            		q0: $("#q0").val(),
                    q1: $("#q1").val(),
                    q2: $("#q2").val(),
                    q3: $("#q3").val(),
                    q4: $("#q4").val(),
                    q5: $("#q5").val(),
                    q6: $("#q6").val(),
				};

				var sum = userData.parseInt(q0)+userData.parseInt(q1)+userData.parseInt(q2)+userData.parseInt(q3)+userData.parseInt(q4)+userData.parseInt(q5)+userData.parseInt(q6);
				console.log(sum);


				

                		// Chosen CSS
		var config = {
			".chosen-select": {},
			".chosen-select-deselect": { allow_single_deselect: true },
			".chosen-select-no-single": { disable_search_threshold: 10 },
			".chosen-select-no-result": { no_results_text: "Oops, nothing found!" },
			".chosen-select-width": { width: "95%" }
		};
		for (var selector in config) {
			$(selector).chosen(config[selector]);
		}
				// console.log(userData);
				// grab the url of the website
				var currentURL = window.location.origin;
				// ajax post the data to the friends api
				$.post(currentURL + '/api2/pickapal', userData, function (data) {
					// grab the result from the ajax post so that the best match's name and photo displayed
					$("#matchhumanName").text(data.humanname);
                    $("#matchdogName").text(data.dogname);
					$("#matchImg").attr("src", data.image);
 					// show modal with the best match
					$("#resultsModal").modal("toggle");
					// alert("working");
				});
			} else {
				alert("Please enter all fields before submitting!");
			}
			return false;
		});

	//custom contact form//
       $("#playdate").on("click", function (){
				window.open("https://docs.google.com/forms/d/e/1FAIpQLSfAhafsGLYH63PIaRUBGA7mMupWGr83hmpuMN9Wf-yNFYcoIw/viewform?usp=sf_link")
                console.log("onclickworking");
				});

	</script>

</body>

</html>